
#contact {
    background-color: #d13434;
    margin: 0;
    padding: 0;
}


.bg-feedback {
    background-color: #c7691c;
}


.btn-outline-dark {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.btn-outline-dark:hover {
    background-color: black;
    color: white;
}